<div class="flex flex-col bg-black items-center gap-y-5">
    <img src="landing-image.jpg" alt="landing-image">
    <div class="flex flex-col text-white py-6 items-center gap-y-5">
        <h1>Ádentrate en el corazón de Nápoles con Nike Field General, un clásico total y el lienzo perfecto para lucir tu estilo personal</h1>
        <button class="bg-stone-950 text-white font-bold py-2 px-4 rounded-full">Descubrir la colección</button>

        <h2 class=" font-bold p-4">Lo mejor y más nuevo</h2>
        <div class="grid grid-cols-2 md:grid-cols-3 gap-4 p-4 w-[90%]">
            <img src="carrousel-1-1.png" class="rounded-lg">
            <img src="carrousel-1-2.png" class="rounded-lg">
            <img src="carrousel-1-3.png" class="rounded-lg">

            <p>Nike United Pack</p>
            <p>Colección Nike 25.7</p>
            <p>Cosmic Runner</p>
        </div>

        <h2 class="text-xl font-bold p-4">Colección de Zapatillas</h2>
        <div class="grid grid-cols-2 md:grid-cols-3 gap-4 p-4 w-[90%]">
            <img src="carrousel-2-1.png" class="rounded-lg">
            <img src="carrousel-2-2.png" class="rounded-lg">
            <img src="carrousel-2-3.png" class="rounded-lg">

            <p>Air Max</p>
            <p>Y2K</p>
            <p>Air Force</p>
        </div>
</div>