<footer class="w-full px-12 bg-black text-white">
    <hr class="">
    <div class="w-full flex">
        <div class="w-[70%] flex gap-x-45 text-[14px]">
            <div class="">
                <div class="font-bold">Recursos</div>
                <ul class="list-none mt-10 gap-y-4 font-bold flex flex-col">
                    <li class="cursor-pointer">Tarjetas de regalo</li>
                    <li class="cursor-pointer">Tarjetas de regalo corporativas</li>
                    <li class="cursor-pointer">Buscar una tienda</li>
                    <li class="cursor-pointer">Nike Journal</li>
                    <li class="cursor-pointer">Hazte Member</li>
                    <li class="cursor-pointer">Descuento para estudiantes</li>
                    <li class="cursor-pointer">Comentarios</li>
                    <li class="cursor-pointer">Códigos promocionales</li>
                </ul>
            </div>
            <div class="">
                <div class="font-bold">Ayuda</div>
                <ul class="list-none mt-10 gap-y-4 font-bold flex flex-col">
                    <li class="cursor-pointer">Obtener ayuda</li>
                    <li class="cursor-pointer">Estado del pedido</li>
                    <li class="cursor-pointer">Envíos y entregas</li>
                    <li class="cursor-pointer">Devoluciones</li>
                    <li class="cursor-pointer">Opciones de pago</li>
                    <li class="cursor-pointer">Contacto</li>
                    <li class="cursor-pointer">Evaluaciones</li>
                    <li class="cursor-pointer">Ayuda con los códigos promocionales de Nike</li>
                </ul>
            </div>
            <div class="">
                <div class="font-bold">Empresa</div>
                <ul class="list-none mt-10 gap-y-4 font-bold flex flex-col">
                    <li class="cursor-pointer">Acerca de Nike</li>
                    <li class="cursor-pointer">Novedades</li>
                    <li class="cursor-pointer">Empleo</li>
                    <li class="cursor-pointer">Inversores</li>
                    <li class="cursor-pointer">Sostenibilidad</li>
                    <li class="cursor-pointer">Propósito</li>
                    <li class="cursor-pointer">Informar de un problema</li>
                </ul>
            </div>
        </div>
        <div class="w-[30%] flex text-gray-400 font-bold text-sm justify-end">
            <div class="flex flex-row">
                <div class="mt-0.5">
                    <svg aria-hidden="true" class="css-npy3on" focusable="false" viewBox="0 0 24 24" role="img" width="18px" height="18px" fill="none">
                        <path stroke="currentColor" stroke-miterlimit="10" stroke-width="1.5" d="M21.75 12A9.75 9.75 0 0112 21.75M21.75 12A9.75 9.75 0 0012 2.25M21.75 12c0 2.071-4.365 3.75-9.75 3.75S2.25 14.071 2.25 12m19.5 0c0-2.071-4.365-3.75-9.75-3.75S2.25 9.929 2.25 12M12 21.75A9.75 9.75 0 012.25 12M12 21.75c2.9 0 5.25-4.365 5.25-9.75S14.9 2.25 12 2.25m0 19.5c-2.9 0-5.25-4.365-5.25-9.75S9.1 2.25 12 2.25M2.25 12A9.75 9.75 0 0112 2.25"></path>
                    </svg>
                </div>
                <h1 class="ml-1">España</h1>
            </div>
        </div>
    </div>
    <div class="flex flex-row py-15 text-gray-400 text-sm font-bold gap-x-10">
        <p class="mt-5">© 2025 Nike, Inc. Todos los derechos reservados</p>
        <p class="mt-5">Guías ▼</p>
        <p class="mt-5">Términos de uso</p>
        <p class="mt-5">Términos de venta</p>
        <p class="mt-5">Aviso legal</p>
        <p class="mt-5">Política de privacidad y cookies</p>
        <p class="mt-5">Configuración de privacidad y cookies</p>
    </div>
</footer>
